
.dashboard-header {
  /* เปลี่ยนจาก header เป็น class */
  background: #2563eb;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 1.6em;
}

#status {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
  font-weight: bold;
}

.connected {
  color: green;
}

.disconnected {
  color: red;
}

.gauge-container {
  width: 120px;
  height: 120px;
  position: relative;
  margin: auto;
}

.gauge-container .value {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.2em;
  color: #2563eb;
}

canvas {
  max-height: 250px;
}

.updated {
  font-size: 0.85em;
  color: gray;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard {
    margin: 10px;
    width: 100%;
    border-radius: 10px;
  }