/* logs.css */
body {
    background-color: #f4f9fd;
}

.logs-container {
    padding: 30px;
    flex-grow: 1; 
}

.logs-container h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #343a40;
}

.search-input {
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 50px;
}

table {
    border-radius: 10px;
    overflow: hidden; 
}

table th, table td {
    vertical-align: middle;
    border: 1px solid #dee2e6;
    
}

table tbody tr:nth-child(odd) {
    background-color: #f1f3f5;
}

.badge-role {
    font-size: 0.85em;
}

.badge-action {
    font-size: 0.85em;
}

.table-responsive {
    max-height: 600px;
    overflow-y: auto;
}

